body {
  font  : 12px/20px Arial, Helvetica, sans-serif;
  color : #000;
}

a { color : #666; text-decoration : none;  }

a:hover { text-decoration : underline; }

#container { width : 960px; margin : 0 auto; }

span.right { float:right;}

#tweets, #mentions {
  width:400px;
  display:inline-block;
  vertical-align:top;
}

#tweets .tweet, #mentions .tweet {
  padding       : 10px 10px;
  font-size     : 14px;
  position      : relative;
  border-bottom : 1px dashed #eee;
  overflow      : hidden;
}

#tweets .tweet.new, #mentions .tweet.new { background-color : #e5e5e5; }

#tweets .tweet img, #mentions .tweet img { margin-right : 10px; float : left; }

#tweets .tweet .content, #mentions .tweet .content { width : 450px; display : table-cell }
